.ProjectCard {
    width: 40%;
    margin: 15px 50px 15px 25px;

    line-height: 0;
    font-size: 16px;
}

@media (min-width: 1920px) {
    .ProjectCard {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .ProjectCard {
        width: 80%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: 14px;
    }
}


@media (max-width: 525px) {
    .ProjectCard {
        font-size: 13px;
    }
}

.ProjectCardHeader {
    padding: 0px 10px 5px 0px;
    word-wrap: break-word;
}

.ProjectCardImg {
    border-radius: 3px;
}

img.ProjectCardImg:hover {
    transform: scale(1.01);
}

.ProjectCardHeader .ProjectCardImg {
    width: calc(100% + 10px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ProjectCardHeader .ProjectCardTitle {
    padding: 0px 3px 5px;
    font-family: 'Ubuntu';
}

.ProjectCardHeader h3 {
    line-height: 1.5;
    margin-top: 10px;
}

.ProjectCardHeader h4 {
    margin: -10px 0px 10px;
    line-height: 1.5;
    font-family: 'San Francisco Pro Bold';
    font-style: italic;
    color: rgb(187, 25, 187);
}

.ProjectCardHeader p {
    line-height: 1.5;
    margin: 0px 0px 0px;
}

.ProjectCardStacks {
    padding: 0px 10px 5px 3px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: 'San Francisco Pro Regular';
}