html {
    overflow-x: hidden;
}

.Homepage {
    position: relative;
    width: calc(100% - 8%);
    height: auto;

    color: white;
    padding-left: 8%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Homepage h1 {
    font-size: 6em;
}

.Homepage h2 {
    font-size: 3em;
    line-height: 1;
}

.Homepage h3 {
    font-size: 1.8em;
}


.purple {
    color: purple;
}

br {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/* ===== Header Section ===== */

.Header {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.Header h1 {
    margin-bottom: 25vh;
    letter-spacing: 1px;
}

@media (min-width: 1920px) {
    .Header h1 {
        font-size: 11em;
    }
}

@media (max-width: 768px) {
    .Header h1 {
        font-size: 4.5em;
    }
}

@media (max-width: 330px) {
    .Header h1 {
        font-size: 4.25em;
    }
}

/* ===== About Section ===== */

.About {
    width: 100%;
    height: fit-content;
    margin-bottom: 50vh;
}

.About .innerAbout h3 {
    font-family: 'San Francisco Pro Light';
    line-height: 1.5;
    letter-spacing: 1px;
    width: 60%;
}

@media (min-width: 1920px) {
    .About .innerAbout h3 {
        font-size: 3em;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .About {
        margin-bottom: 30vh;
    }

    .About .innerAbout h3 {
        font-size: 1.6em;
        width: 70%;
    }
}

@media (max-width: 525px) {
    .About .innerAbout h3 {
        font-size: 1.5em;
        width: 100%;
    }
}

/* ===== Projects Section ===== */

.Projects {
    width: 100%;
}

.Projects h2 {
    font-size: 3.5em;
    line-height: 1.5em;
    margin: 30px 0px;
}

@media (min-width: 1920px) {
    .Projects h2 {
        font-size: 7em;
    }
}

@media (max-width: 768px) {
    .Projects {
        font-size: 13px;
    }
}

@media (max-width: 525px) {
    .Projects {
        font-size: 11px;
    }
}

/* ===== Main Projects Section ===== */

.MainProjects{
    margin-bottom: 4rem;
}


.MainProjectsCardWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .MainProjectsCardWrapper {
        flex-direction: column;
        padding-right: 0px;
    }
}

/* ===== Solo Projects Section ===== */

.SoloProjects {
    width: 100%;
    margin-bottom: calc(4rem + 30px);
}

@media (max-width: 769.7px) {
    .SoloProjects {
        margin-bottom: 4rem;
    }
}

.SoloProjectsCardWrapper {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: row;

    margin: 15px 0px;
}

.TinySlider {
    width: 100%;
}

.ArrowLeft,
.ArrowRight {
    width: 10px;
    cursor: pointer;
    margin: 0 0 0 15px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ArrowLeft {
    margin: 0 15px 0 0;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.SwipeLeft img {
    width: 30px;
}

.SwipeLeft h3 {
    font-family: 'Ubuntu';
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
}

.SwipeLeft {
    color: white;
    display: none;
    align-items: center;
    width: fit-content;
    position: relative;
    z-index: 9999;

    opacity: 100%;
    left: 0px;
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


@keyframes example {
    0%   {left: 100px; opacity: 0;}
    100% {left: 0px; opacity: 100%;}
}

@media (min-width: 525px) {
    @keyframes example {
        0%   {left: 30%; opacity: 0;}
        100% {left: 0px; opacity: 100%;}
    }
}

.hide {
    visibility: hidden;
}

.none {
    display: none;
}

@media (max-width: 767.9px) {
    .SoloProjectsCardWrapper {
        width: 100%;
    }

    .SwipeLeft {
        display: flex;
    }
}

/* ===== Tech Stacks Section ===== */
.TechStacks {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.TechStacks h2 {
    font-size: 2.5em;
    line-height: 1.25;
}

/* ===== Comfrotable Tech Stacks Section ===== */
.TechStacksComfortable {
    width: 100%;
    flex-basis: 70%;
}

/* ===== Used Tech Stacks Section ===== */
/* .TechStacksUsed {
    width: 100%;
    flex-basis: 50%;
} */

/* ===== Used Tool Stacks Section ===== */
.ToolsUsed {
    width: 100%;
    flex-basis: 30%;
}