:root {
    --color-black: #000000;
    --color-dark-grey: #222222;
    --color-light-grey: #333333;
    --color-yellow: #fff000;
    --color-pale-yellow: #faf49a;
    --color-gold: #FFD700;
    --color-soft-pink: #ffb7b7;

    --font-rubik: 'Rubik';
    --font-rubik-mono-one: 'Rubik Mono One'; 
    --font-rubik-black: 'Rubik Black';
    --font-lato: 'Lato';
}

::selection {
    background: purple; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: purple; /* Gecko Browsers */
}


html {
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h1, h2, h3, p, li {
    cursor: default;
}

img {
    /* user-drag: none; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* html {
    height: 200vh;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

body #root {
    overflow: scroll;
} */
/* 
.App {
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 99vh;
    width: 100%;
} */

/* .App h1 {
    color: white;
    margin-left: 10%;
    font-size: 5em;
} */

/* canvas {
    background-color: red;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
