html {
  overflow-x: hidden;
}

body {
  font-family: 'San Francisco Pro Regular';
}

::selection {
    background: purple; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: purple; /* Gecko Browsers */
}


html {
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h1, h2, h3, p, li {
    cursor: default;
}

h1, h2 {
  font-family: 'San Francisco Pro Black';
}

h3 {
  font-family: 'San Francisco Pro Bold';
}

img {
    /* user-drag: none; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}